#game {
  border: 1px dashed;
  margin: auto;
  display: block;
}

body {
 /* background: url(http://4everstatic.com/images/art/film-et-serie/tron-lheritage-181676.jpg;);
  background-size: cover;*/
  
}