
* {
  box-sizing: border-box;
}

#game {
  border: solid 5px #7A1563;
  margin: 30px auto 10px;
  display: block;
  background: #091024;
}

body {
  display: flex;
  flex-direction: column;
  background: url(assets/game-back.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  background-color: #D45EC9;
}

.player-info-section {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.game-start {
  margin: 10px auto 15px;
  width: 85px;
  height: 85px; 
  border-radius: 55px;
  border: solid 4px white;
  font-family: 'Orbitron', sans-serif;
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
  background-color: #7A1563; 
}

.game-start:hover {
  border: solid 5px ;
  outline-style: none;
  cursor: pointer;
  background-color: #E663AF;
}

.player-info {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
  margin: 25px 20px 60px 20px;
}

.game-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
  font-style: italic;
  font-size: 45px;
  font-weight: bold;
  color: white;
  border: solid 2px white;
  box-shadow: 5px black;
  height: 100px;
  width: 250px;
  background-image: url(assets/tron-moto.jpg);
  background-size: contain;
  margin: 0;
}

.player-font {
  display: flex;
  font-family: 'Orbitron', sans-serif;
  color: white;
  font-style: bold;
}

.player-lives {
  margin: 1px 1px 25px 15px;
}

.gameover {
  font-family: 'Orbitron', sans-serif;
  color: #E857E2;
  font-style: bold;
  box-shadow: white;
  text-align: center;
  visibility: hidden;
}

.try-again {
  font-family: 'Orbitron', sans-serif;
  color: #E857E2;
  font-style: bold;
  font-style: italic;
  visibility: hidden;
}

.playerLives {
  font-family: 'Orbitron', sans-serif;
  color: #E857E2;
  font-style: bold;
}

.score {
  margin: 1px 1px 1px 10px;
}